
*.xcuserstate




frontend/stockFront/stockFront.xcworkspace/xcuserdata/wangjam.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcbkptlist


*.xcscheme

frontend/stockFront/Pods/Pods.xcodeproj/xcuserdata/wangjam.xcuserdatad/xcschemes/xcschememanagement.plist

backend/npm-debug.log

backend/node_modules/jshint/node_modules/.bin/shjs
