<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    </head>
    <body>
        <div id="container">

        </div>


        <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
        <script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>

        <script>

        Highcharts.setOptions({
            lang:{
                rangeSelectorFrom:'从',
                rangeSelectorTo: '到',
                months: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                shortMonths: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                weekdays: ['周末', '周一', '周二', '周三', '周四', '周五', '周六']
            }
        });

        $(function () {

            $.ajax({
                url:'/stock/getStockDayInfo',
                data:{
                    'stock_code':'<%=stock_code%>',
                    'num_day':<%=num_day%>
                },
                type:'get',
                dataType: 'json',
                success:function(data, status){
                    if(data.code == 1002){
                        $('#container').highcharts('StockChart', {

                            yAxis: {
                                labels: {
                                    style: {'fontSize':'20px'},
                                    step: 2
                                }
                            },

                            chart: {
                                height: <%=height%>
                            },
                            navigator:{
                                enabled: false
                            },
                            scrollbar:{
                                enabled: false
                            },
                            credits:{
                                enabled: false
                            },

                            rangeSelector:{
                                enabled: false
                            },
                            series : [{
                                name : '股价',
                                data : data.data,
                                tooltip: {
                                    valueDecimals: 2
                                }
                            }]
                        });
                    }else{
                        $("#container").html("<h1>ERROR:"+data.code+"</h1>");
                    }
                },
                error: function(){
                    $("#container").html("<h1>ERROR:"+status+"</h1>");
                }
            });
        });
        </script>
    </body>
</html>
